@{
    ViewData["Title"] = "Details";
}
@model Dataplatform.SQLManager.Web.DataModels.Script
<head>
    <link rel="stylesheet" href="jquery.highlighter.css" />
</head>


<div>
    <h4>Script Details</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptType)
        </dt>
        <dd class="col-sm-10" style="background-color:ghostwhite">
            @Model.ScriptType
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10" style="background-color:ghostwhite ">
            @Model.Title
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptText)
        </dt>

        <dd class="col-sm-10" style="background-color:ghostwhite" >
            <div class="rounded-right">
                <button class="btn btn-primary" id="btnCopy">Copy</button>
            </div>
            <pre class="code" data-language="sql" contenteditable="true">   
            <textarea id="Ctext" class="md-textarea form-control" style="height:800px ;resize:none; font-size:small" readonly>
                      @Model.ScriptText
                    </textarea>
                    </pre>

        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>
        <dd class="col-sm-10" style="background-color: ghostwhite ">
            @Model.Keyword
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10" style="background-color:ghostwhite ">
            @Model.CreateDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10" style="background-color:ghostwhite ">
            @Model.IsActive
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SqlVersion)
        </dt>
        <dd class="col-sm-10" style="background-color: ghostwhite ">
            @Model.SqlVersion
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlwaysOnActive)

        </dt>
        <dd class="col-sm-10" style="background-color:ghostwhite ">
            @Model.AlwaysOnActive
        </dd>
    </dl>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>



</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="jquery.highlight.js"></script>

<script>
   
    document.getElementById("btnCopy").addEventListener("click", function () {
        var copyText = document.getElementById("Ctext");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied Clipboard!");
    });
     
</script>

